/* custom properties */

:root{
    --primary-color: #ffd500;
    --background-c: #000000;
} 

/*# Header */

header {
    color: var(--primary-color);
    min-height: 5rem;
    background-color: var(--background-c);  
    font-family: "Anton", sans-serif;
}

main {
    background-color: rgba(0, 0, 0, 0.8);
}

li {
    height: 100%;
}

li > span {
    vertical-align: middle;
}

.card-title {
    color: var(--primary-color);
}